#article {
  padding: 30px;
  box-sizing: border-box;
  width: calc(100% - 260px);

  article#content {
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 15px 30px 30px;
    background-color: antiquewhite;
  }
}

@media only screen and (max-width: 784px) {
  #article {
    width: 100%;
  }
}