.carousel-item {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-overflow: ellipsis;
  max-width: calc(100% / 3);

  .carousel-hot-article-coverImage {
    width: 100%;
    height: auto;
  }

  .carousel-content-mask {
    height: 100%;
    background-color: bisque;
  }

  h3 {
    top: 0;
    left: 10px;
    position: absolute;
    text-overflow: inherit;
  }

  &:hover {
    .carousel-item-mask {
      display: block;
    }
  }
}

.carousel-item-mask {
  bottom: 0;
  height: 70%;
  width: 100%;
  display: none;
  padding: 10px;
  position: absolute;
  text-overflow: inherit;
  box-sizing: border-box;
  animation: .5s slideInUp ease-out;
  background-image: linear-gradient(to bottom, rgba(36, 147, 110, .3), rgba(102, 50, 124, 1));

  &::before {
    filter: blur(12px);
    transform: scale(2) translateY(20px);
  }

  a {
    color: white;
    text-decoration-line: none;
  }
}