#side-bar {
  width: 260px;
  padding: 0 15px 10px;
  box-sizing: border-box;
  background-color: #cdf;

  .social-bar {
    margin-bottom: 5px;
  }
}

.category-year {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

@media only screen and (max-width: 784px) {
  #side-bar {
    display: none;
  }
}