#create-tag-form {
  display: flex;
  margin: 10px 5px;
  align-items: stretch;

  #create-tags-bar {
    width: 100%;

    #create-tags-bar-labels {
      margin: 0;
      padding: 5px;
      height: 30px;
      display: flex;
      align-items: center;
      border: 1px solid #dddddd;
      border-top-left-radius: .25rem;
      border-bottom-left-radius: .25rem;

      #create-tags-bar-text {
        border: none;
        outline: none;
        font-size: large;
      }
    }
  }

  #create-tags-btn {
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.5;
    color: #ffffff;
    padding: .375rem .75rem;
    border-color: #28a745;
    background-color: #28a745;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    transition: color .15s ease-in-out,
      background-color .15s ease-in-out,
      border-color .15s ease-in-out,
      box-shadow .15s ease-in-out;

    &:hover {
      border-color: #1e7e34;
      background-color: #218838;
    }
  }
}