.intro-page-avatar {
  width: 100%;
  min-height: 300px;
  background-color: cornsilk;

  .avatar {
    margin: 15px 0 0;
    img {
      width: 150px;
      height: 150px;
    }
  }

  .description {
    font-family: monospace;

    ul {
      padding: 0;
      width: 400px;
      margin: 0 auto;

      li {
        list-style-type: none;
      }
    }
  }

  .social-link {
    margin: 15px 0;

    .avatar-social-link {
      width: 35px;
      height: 35px;
      cursor: pointer;
      margin-right: 3px;
      margin-bottom: 5px;
      display: inline-block;
      animation: 1.5s bounceIn ease-out;

      img {
        width: 35px;
        height: 35px;
      }
    }
  }
}