#article-area {
  flex-grow: 1;
  display: flex;
  padding: 20px 40px;
  flex-direction: column;
  max-width: calc(100% - 340px);
}

@media only screen and (max-width: 784px) {
  #article-area {
    max-width: 100%;
  }
}