.social-bar {
  grid-row-start: 2;
  margin: 15px 0;

  .social-link {
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-right: 3px;
    margin-bottom: 5px;
    display: inline-block;
    animation: 1.5s bounceIn ease-out;

    img {
      width: 35px;
      height: 35px;
    }
  }
}

@media only screen and (min-width: 869px) {
  .social-bar {
    margin: 15px 0;
  }
}