#portal {
  .create-tag-form {
    display: flex;
    margin: 10px 5px;
    align-items: stretch;
    

    .create-tag-text {
      margin-right: 5px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      display: block;
      width: 100%;
      height: calc(2.25rem + 2px);
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .create-tag-btn {
      outline: none;
      cursor: pointer;
      font-size: 1rem;
      line-height: 1.5;
      color: #ffffff;
      border-radius: .25rem;
      display: inline-block;
      padding: .375rem .75rem;
      border-color: #28a745;
      background-color: #28a745;
      transition: color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;

      &:hover {
        border-color: #1e7e34;
        background-color: #218838;
      }
    }
  }
}